.permalink-tweet {
  padding:30px 40px;
  border-bottom:0;
  border-top-left-radius:8px;
  border-top-right-radius:8px
}
.permalink-tweet,
.permalink-tweet:hover {
  background-color:#fff
}
.permalink-tweet .permalink-header .avatar {
  margin-top:0
}
.tweet-details-fixer .client-and-actions .created-via,
.tweet-details-fixer .client-and-actions .metadata,
.tweet-details-fixer .client-and-actions .metadata button.btn-link,
.tweet-details-fixer .client-and-actions .metadata a {
  font-size:14px
}
.permalink-header {
  -moz-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  height:48px
}
.permalink-header .account-group {
  -moz-box-flex:1;
  -ms-flex:1;
  flex:1
}
.permalink-header .FullNameGroup {
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  color:#14171a;
  font-size:18px;
  line-height:24px;
  font-weight:bold;
  max-width:32ch
}
.permalink-header .FullNameGroup .fullname {
  font-size:18px;
  font-weight:bold
}
.permalink-header .username {
  font-size:14px
}
.permalink-tweet .content {
  margin-bottom:15px
}
.permalink-header .ProfileTweet-action--more .ProfileTweet-actionButton {
  margin-left:9px
}
.permalink-header .ProfileTweet-action .dropdown .dropdown-menu {
  margin:8px 3px 0
}
.card2,
.card2 p {
  font-size:14px;
  line-height:1.2858
}
.card2 {
  margin:20px 0 0;
  padding:0 0 20px
}
.self-thread-context {
  color:#657786;
  display:none!important;
  font-size:14px;
  line-height:20px;
  padding-top:4px
}
.RetweetDialog-tweet .tweet .self-thread-context,
.DMComposer-tweet .tweet .self-thread-context,
.QuoteTweet .self-thread-context {
  display:block!important
}
