body{
	background: #5f2428;
}

#header {
	min-height: 50px;
	background: #b33434;
	display: flex;
	align-items: center;
	justify-content: center;
}

#page-title {
	min-height: 40px;
	background: #b33434;

}

#content {
	min-height: 76vh;
	margin: 0;
	display: grid;
	background: #5f2428;
	color: #BBB;
}

#footer {
	min-height: 50px;
	background: #666;
	color: white;
	padding: 10px;
}


#navigation .selected {
	font-weight: bold;
	text-decoration: underline;
}

#information {
	width: 100%;
	background: #2c353a;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: #b33434;
}
